<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
               xsi:schemaLocation="http://www.springframework.org/schema/beans
	   	 http://www.springframework.org/schema/beans/spring-beans.xsd
	   	 http://code.alibabatech.com/schema/dubbo
	   	 http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
               default-autowire="byName" default-lazy-init="false">

<dubbo:application name="consumer-of-im-app" />

<!-- 使用zookeeper注册中心暴露服务地址 -->
<dubbo:registry protocol="zookeeper" address="10.255.223.208:2881"/>



<!-- IM接口 -->
<dubbo:reference id="imMsgApi" interface="com.dangdang.digital.api.IMMsgApi" protocol="dubbo" version="5.0"
                 timeout="10000"/>
    <dubbo:reference id="iMediaApi" interface="com.dangdang.digital.api.IMediaApi" protocol="dubbo" version="5.0"
                     timeout="10000"/>
    <dubbo:reference id="iChannelApi" interface="com.dangdang.digital.api.IChannelApi" protocol="dubbo" version="5.0"
                     timeout="10000"/>


</beans>